n8n-nutrition-workflow.json
{
  "name": "Nutrition Assistant - Telegram Bot",
  "nodes": [
    {
      "parameters": {
        "updates": [
          "message"
        ]
      },
      "id": "telegram-trigger",
      "name": "Telegram Trigger",
      "type": "n8n-nodes-base.telegramTrigger",
      "typeVersion": 1.1,
      "position": [250, 300],
      "webhookId": "telegram-bot-webhook",
      "credentials": {
        "telegramApi": {
          "id": "1",
          "name": "Telegram Bot API"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict"
          },
          "conditions": [
            {
              "id": "text-message",
              "leftValue": "={{ $json.message.text }}",
              "rightValue": "",
              "operator": {
                "type": "string",
                "operation": "exists",
                "singleValue": true
              }
            },
            {
              "id": "photo-message",
              "leftValue": "={{ $json.message.photo }}",
              "rightValue": "",
              "operator": {
                "type": "array",
                "operation": "notEmpty",
                "singleValue": true
              }
            },
            {
              "id": "voice-message",
              "leftValue": "={{ $json.message.voice }}",
              "rightValue": "",
              "operator": {
                "type": "object",
                "operation": "exists",
                "singleValue": true
              }
            }
          ],
          "combinator": "or"
        },
        "options": {}
      },
      "id": "switch-message-type",
      "name": "Switch Message Type",
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3,
      "position": [450, 300]
    },
    {
      "parameters": {
        "resource": "row",
        "operation": "select",
        "tableId": "clients",
        "filters": {
          "conditions": [
            {
              "keyName": "telegram_id",
              "keyValue": "={{ $json.message.from.id }}",
              "condition": "equals"
            }
          ]
        },
        "returnAll": false,
        "limit": 1
      },
      "id": "check-user-exists",
      "name": "Check User Exists",
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [650, 150],
      "credentials": {
        "supabaseApi": {
          "id": "2",
          "name": "Supabase API"
        }
      }
    },
    {
      "parameters": {
        "resource": "row",
        "operation": "insert",
        "tableId": "clients",
        "dataToSend": "defineBelow",
        "columnsUi": {
          "columnValues": [
            {
              "column": "telegram_id",
              "value": "={{ $json.message.from.id }}"
            },
            {
              "column": "full_name",
              "value": "={{ $json.message.from.first_name }} {{ $json.message.from.last_name }}"
            },
            {
              "column": "status",
              "value": "active"
            }
          ]
        }
      },
      "id": "create-new-user",
      "name": "Create New User",
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [850, 50],
      "credentials": {
        "supabaseApi": {
          "id": "2",
          "name": "Supabase API"
        }
      }
    },
    {
      "parameters": {
        "resource": "row",
        "operation": "insert",
        "tableId": "conversations",
        "dataToSend": "defineBelow",
        "columnsUi": {
          "columnValues": [
            {
              "column": "client_id",
              "value": "={{ $node[\"Check User Exists\"].json.id || $node[\"Create New User\"].json.id }}"
            },
            {
              "column": "platform",
              "value": "telegram"
            }
          ]
        }
      },
      "id": "create-conversation",
      "name": "Create/Update Conversation",
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [1050, 150]
    },
    {
      "parameters": {
        "resource": "row",
        "operation": "insert",
        "tableId": "messages",
        "dataToSend": "defineBelow",
        "columnsUi": {
          "columnValues": [
            {
              "column": "conversation_id",
              "value": "={{ $json.id }}"
            },
            {
              "column": "sender_type",
              "value": "user"
            },
            {
              "column": "message_type",
              "value": "={{ $node[\"Switch Message Type\"].json.outputIndex === 0 ? 'text' : $node[\"Switch Message Type\"].json.outputIndex === 1 ? 'image' : 'voice' }}"
            },
            {
              "column": "content",
              "value": "={{ $node[\"Telegram Trigger\"].json.message.text || '' }}"
            },
            {
              "column": "metadata",
              "value": "={{ JSON.stringify($node[\"Telegram Trigger\"].json.message) }}"
            }
          ]
        }
      },
      "id": "save-user-message",
      "name": "Save User Message",
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [1250, 150]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{ $env.SUPABASE_URL }}/functions/v1/process-nutrition-text",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "message",
              "value": "={{ $node[\"Telegram Trigger\"].json.message.text }}"
            },
            {
              "name": "client_id",
              "value": "={{ $node[\"Check User Exists\"].json.id || $node[\"Create New User\"].json.id }}"
            },
            {
              "name": "conversation_id",
              "value": "={{ $node[\"Create/Update Conversation\"].json.id }}"
            }
          ]
        },
        "options": {}
      },
      "id": "process-text-ai",
      "name": "Process Text with AI",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [1450, 50],
      "credentials": {
        "httpHeaderAuth": {
          "id": "3",
          "name": "Supabase Auth Header"
        }
      }
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{ $env.SUPABASE_URL }}/functions/v1/analyze-food-image",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "image_url",
              "value": "={{ $node[\"Telegram Trigger\"].json.message.photo[0].file_id }}"
            },
            {
              "name": "client_id",
              "value": "={{ $node[\"Check User Exists\"].json.id || $node[\"Create New User\"].json.id }}"
            },
            {
              "name": "conversation_id",
              "value": "={{ $node[\"Create/Update Conversation\"].json.id }}"
            }
          ]
        },
        "options": {}
      },
      "id": "process-image-ai",
      "name": "Process Image with AI",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [1450, 250],
      "credentials": {
        "httpHeaderAuth": {
          "id": "3",
          "name": "Supabase Auth Header"
        }
      }
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{ $env.SUPABASE_URL }}/functions/v1/process-voice",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "voice_file_id",
              "value": "={{ $node[\"Telegram Trigger\"].json.message.voice.file_id }}"
            },
            {
              "name": "client_id",
              "value": "={{ $node[\"Check User Exists\"].json.id || $node[\"Create New User\"].json.id }}"
            },
            {
              "name": "conversation_id",
              "value": "={{ $node[\"Create/Update Conversation\"].json.id }}"
            }
          ]
        },
        "options": {}
      },
      "id": "process-voice-ai",
      "name": "Process Voice with AI",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [1450, 450],
      "credentials": {
        "httpHeaderAuth": {
          "id": "3",
          "name": "Supabase Auth Header"
        }
      }
    },
    {
      "parameters": {
        "resource": "row",
        "operation": "insert",
        "tableId": "messages",
        "dataToSend": "defineBelow",
        "columnsUi": {
          "columnValues": [
            {
              "column": "conversation_id",
              "value": "={{ $node[\"Create/Update Conversation\"].json.id }}"
            },
            {
              "column": "sender_type",
              "value": "assistant"
            },
            {
              "column": "message_type",
              "value": "text"
            },
            {
              "column": "content",
              "value": "={{ $json.response }}"
            }
          ]
        }
      },
      "id": "save-ai-response",
      "name": "Save AI Response",
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [1650, 250]
    },
    {
      "parameters": {
        "chatId": "={{ $node[\"Telegram Trigger\"].json.message.chat.id }}",
        "text": "={{ $json.response }}",
        "additionalFields": {}
      },
      "id": "send-telegram-reply",
      "name": "Send Telegram Reply",
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [1850, 250],
      "credentials": {
        "telegramApi": {
          "id": "1",
          "name": "Telegram Bot API"
        }
      }
    },
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "triggerAtHour": 9
            }
          ]
        }
      },
      "id": "daily-cron-trigger",
      "name": "Daily Check-in Trigger",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.2,
      "position": [250, 600]
    },
    {
      "parameters": {
        "resource": "row",
        "operation": "select",
        "tableId": "clients",
        "filters": {
          "conditions": [
            {
              "keyName": "status",
              "keyValue": "active",
              "condition": "equals"
            }
          ]
        },
        "returnAll": true
      },
      "id": "get-active-clients",
      "name": "Get Active Clients",
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [450, 600],
      "credentials": {
        "supabaseApi": {
          "id": "2",
          "name": "Supabase API"
        }
      }
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{ $env.SUPABASE_URL }}/functions/v1/daily-checkin",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "client_id",
              "value": "={{ $json.id }}"
            }
          ]
        },
        "options": {}
      },
      "id": "generate-checkin-message",
      "name": "Generate Check-in Message",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [650, 600],
      "credentials": {
        "httpHeaderAuth": {
          "id": "3",
          "name": "Supabase Auth Header"
        }
      }
    },
    {
      "parameters": {
        "chatId": "={{ $json.telegram_id }}",
        "text": "={{ $node[\"Generate Check-in Message\"].json.message }}",
        "additionalFields": {}
      },
      "id": "send-daily-checkin",
      "name": "Send Daily Check-in",
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [850, 600],
      "credentials": {
        "telegramApi": {
          "id": "1",
          "name": "Telegram Bot API"
        }
      }
    }
  ],
  "connections": {
    "Telegram Trigger": {
      "main": [
        [
          {
            "node": "Switch Message Type",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Switch Message Type": {
      "main": [
        [
          {
            "node": "Check User Exists",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Check User Exists",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Check User Exists",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Check User Exists": {
      "main": [
        [
          {
            "node": "Create/Update Conversation",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Create New User",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Create New User": {
      "main": [
        [
          {
            "node": "Create/Update Conversation",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Create/Update Conversation": {
      "main": [
        [
          {
            "node": "Save User Message",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Save User Message": {
      "main": [
        [
          {
            "node": "Process Text with AI",
            "type": "main",
            "index": 0
          },
          {
            "node": "Process Image with AI",
            "type": "main",
            "index": 0
          },
          {
            "node": "Process Voice with AI",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Process Text with AI": {
      "main": [
        [
          {
            "node": "Save AI Response",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Process Image with AI": {
      "main": [
        [
          {
            "node": "Save AI Response",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Process Voice with AI": {
      "main": [
        [
          {
            "node": "Save AI Response",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Save AI Response": {
      "main": [
        [
          {
            "node": "Send Telegram Reply",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Daily Check-in Trigger": {
      "main": [
        [
          {
            "node": "Get Active Clients",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get Active Clients": {
      "main": [
        [
          {
            "node": "Generate Check-in Message",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Generate Check-in Message": {
      "main": [
        [
          {
            "node": "Send Daily Check-in",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "pinData": {},
  "settings": {
    "executionOrder": "v1"
  },
  "staticData": null,
  "tags": [],
  "triggerCount": 2,
  "updatedAt": "2025-11-30T19:00:00.000Z",
  "versionId": "1"
}